<div class="container" id="authentication">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<% flash.each do |key, value| %>
				<div class="alert alert-info">
					<p><%= value %></p>
				</div>
			<% end %>

			<%= yield :devise %>
		</div>
	</div>
</div>
