<% content_for :devise do %>
  <div class="panel panel-default">
    <div class="panel-heading text-centered">
      <h3 class="panel-title">Change your password</h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <fieldset>
        <div class="form-group">
          <input class="string password form-control" placeholder="Password" id="user_password" name="user[password]" type="password">
        </div>
        <div class="form-group">
          <input class="string password form-control" placeholder="Password" id="user_password_confirmation" name="user[password_confirmation]" type="password">
        </div>

        <%= f.input :reset_password_token, as: :hidden %>

        <%= f.button :submit, 'Change Password', class: 'btn btn-default btn-block' %>

      </fieldset>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'devise/shared/layout' %>