<% if !browser.device.mobile? && !browser.device.tablet? %>
	<div class="ad ad-sky ad-skyscraper">
		<small class="advertise-with-us"><a href="/<%= @issue.alias_name %>/advertise-with-us" target="_blank">Advertise with us</a></small>

		<script type="text/javascript">
		var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
		var abkw = window.abkw || '';

		var plc226343 = window.plc226343 || 0;
		document.write('<'+'div id="placement_226343_'+plc226343+'" class="ad-butler"></'+'div>');
		AdButler.ads.push({handler: function(opt){ AdButler.register(167867, 226343, [160,600], 'placement_226343_'+opt.place, opt); }, opt: { place: plc226343++, keywords: abkw, domain: 'ab167867.adbutler-ikon.com', click:'CLICK_MACRO_PLACEHOLDER' }});
		</script>
	</div>
	<div class="ad ad-sky ad-skyscraper2">
		<small class="advertise-with-us"><a href="/<%= @issue.alias_name %>/advertise-with-us" target="_blank">Advertise with us</a></small>

		<script type="text/javascript">
		var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
		var abkw = window.abkw || '';

		var plc226343 = window.plc226343 || 0;
		document.write('<'+'div id="placement_226343_'+plc226343+'" class="ad-butler"></'+'div>');
		AdButler.ads.push({handler: function(opt){ AdButler.register(167867, 226343, [160,600], 'placement_226343_'+opt.place, opt); }, opt: { place: plc226343++, keywords: abkw, domain: 'ab167867.adbutler-ikon.com', click:'CLICK_MACRO_PLACEHOLDER' }});
		</script>
	</div>
<% end %>
