<div id="bio_ep_close"><span class="fa fa-times"></span></div>
<div id="bio_ep">
	<div class="bio_ep_content">
		<div class="bio_ep_head">
			<img src="http://d2y1ry8g49t2dy.cloudfront.net/static/shift_drink.png">
		</div>
		<div class="bio_ep_body">
			<div class="left">
				<h3>Like what you saw?</h3>
				<p>Please show support for independent media by connecting on <a href="https://www.facebook.com/realtheshiftdrink/" target="_blank">Facebook</a> or any other apps you use in the bathroom while at work</p>
			</div>
			<div class="right">
				<div class="addthis_inline_follow_toolbox"></div>
			</div>
		</div>
		<div class="bio_ep_footer">
			<img src="https://d2y1ry8g49t2dy.cloudfront.net/static/for_the_industry_by_the_industry.png">
		</div>
	</div>
</div>
